// CV 
$cvWrapperWd: 950px;
$cvWrapperHt: 800px;
$cvLeftWd: 280px;
$cvRightWd: $cvWrapperWd - $cvLeftWd;
$cvLeftClr: #ffffff;
$cvRightMainClr: #050F34;
$cvRightScndClr: #050F34;
$cvLeftPadding: 2rem 2rem;
$cvRightPadding: 5rem 4rem;