<form id="contact-form" class="contact-form p-3" [formGroup]="contactForm" (ngSubmit)="onSendMessage()">
  <div class="mb-3">
    <label for="name" class="text-muted form-label"> {{ 'Contact.Name' | translate }} &ast;</label>
    <input
      type="text"
      class="form-control"
      [class.is-invalid]="name.invalid && (name.dirty || name.touched)"
      formControlName="name"
      id="name"
      placeholder="{{ 'Contact.Name_pl' | translate }}"
    />
    <div class="invalid-feedback">{{ 'Contact.Name_err' | translate }}</div>
  </div>
  <div class="mb-3">
    <label for="email" class="text-muted form-label">{{ 'Contact.Email' | translate }} &ast;</label>
    <input
      type="email"
      class="form-control"
      [class.is-invalid]="email.invalid && (email.dirty || email.touched)"
      formControlName="email"
      id="email"
      placeholder="{{ 'Contact.Email_pl' | translate }}"
    />
    <div class="invalid-feedback">{{ 'Contact.Email_err' | translate }}</div>
  </div>
  <div class="mb-3 is-invalid">
    <label for="message" class="text-muted form-label">{{ 'Contact.Message' | translate }} &ast;</label>
    <textarea
      class="form-control"
      id="message"
      [class.is-invalid]="message.invalid && (message.dirty || message.touched)"
      formControlName="message"
      rows="4"
      placeholder="{{ 'Contact.Message_pl' | translate }}"
    ></textarea>
    <div class="invalid-feedback">{{ 'Contact.Message_err' | translate }}</div>
  </div>
  <div class="text-center">
    <button class="btn btn-danger" [disabled]="sending">
      {{ 'Contact.Send_message' | translate }} <i class="dm fas fa-paper-plane"></i>
    </button>
  </div>
</form>

<div *ngIf="status" class="text-center text-{{ status.status }}" class="contact-form-status mt-2">{{ status.status | translate }}</div>
