<div class="home-wrapper d-flex flex-column-reverse align-items-center justify-content-between">
  <div class="home-left mt-5">
    <p id="intro" class="intro mb-4 mb-md-0 text-center text-lg-left">
      <span
        *ngFor="let letter of introArr; let i = index"
        [id]="'letter-' + i"
        class="d-inline-block"
        style="animation-delay: 0s"
        (mouseenter)="animateLetter(i)"
        (mouseleave)="removeAnimateLetter(i)"
        >{{ letter }}&nbsp;</span
      >
      <!-- <a href="https://www.google.com/maps/place/Durr%C3%ABs/">Durrës, Albania</a>. -->
    </p>
    <!-- <button class="btn btn-primary" (click)="openModal(firstQuestion)">Open modal</button> -->
  </div>
  <div class="home-right">
    <div class="home-box-wrapper">
      <section class="abs-center box-container">
        <div class="cube cube1">
          <div class="front"></div>
          <div class="left"></div>
          <div class="top"></div>
        </div>
        <div class="cube cube2">
          <div class="front"></div>
          <div class="left"></div>
          <div class="top"></div>
        </div>
        <div class="cube cube3">
          <div class="front"></div>
          <div class="left"></div>
          <div class="top"></div>
        </div>
        <div class="cube cube4">
          <div class="front"></div>
          <div class="left"></div>
          <div class="top"></div>
        </div>
        <div class="cube cube5">
          <div class="front"></div>
          <div class="left"></div>
          <div class="top"></div>
        </div>
        <div class="cube cube6">
          <div class="front"></div>
          <div class="left"></div>
          <div class="top"></div>
        </div>
        <div class="cube cube7">
          <div class="front"></div>
          <div class="left"></div>
          <div class="top"></div>
        </div>
        <div class="cube cube8">
          <div class="front"></div>
          <div class="left"></div>
          <div class="top"></div>
        </div>
        <div class="cube cube9">
          <div class="front"></div>
          <div class="left"></div>
          <div class="top"></div>
        </div>
        <div class="cube cube10">
          <div class="front"></div>
          <div class="left"></div>
          <div class="top"></div>
        </div>
        <div class="cube cube11">
          <div class="front"></div>
          <div class="left"></div>
          <div class="top"></div>
        </div>
        <div class="cube cube12">
          <div class="front"></div>
          <div class="left"></div>
          <div class="top"></div>
        </div>
        <div class="cube cube13">
          <div class="front"></div>
          <div class="left"></div>
          <div class="top"></div>
        </div>
        <div class="cube cube14">
          <div class="front"></div>
          <div class="left"></div>
          <div class="top"></div>
        </div>
        <div class="cube cube15">
          <div class="front"></div>
          <div class="left"></div>
          <div class="top"></div>
        </div>
        <div class="cube cube16">
          <div class="front"></div>
          <div class="left"></div>
          <div class="top"></div>
        </div>
        <div class="cube cube17">
          <div class="front"></div>
          <div class="left"></div>
          <div class="top"></div>
        </div>
        <div class="cube cube18">
          <div class="front"></div>
          <div class="left"></div>
          <div class="top"></div>
        </div>
        <div class="cube cube19">
          <div class="front"></div>
          <div class="left"></div>
          <div class="top"></div>
        </div>
        <div class="cube cube20">
          <div class="front"></div>
          <div class="left"></div>
          <div class="top"></div>
        </div>
        <div class="cube cube21">
          <div class="front"></div>
          <div class="left"></div>
          <div class="top"></div>
        </div>
        <div class="cube cube22">
          <div class="front"></div>
          <div class="left"></div>
          <div class="top"></div>
        </div>
        <div class="cube cube23">
          <div class="front"></div>
          <div class="left"></div>
          <div class="top"></div>
        </div>
        <div class="cube cube24">
          <div class="front"></div>
          <div class="left"></div>
          <div class="top"></div>
        </div>
        <div class="cube cube25">
          <div class="front"></div>
          <div class="left"></div>
          <div class="top"></div>
        </div>
        <div class="cube cube26">
          <div class="front"></div>
          <div class="left"></div>
          <div class="top"></div>
        </div>
        <div class="cube cube27">
          <div class="front"></div>
          <div class="left"></div>
          <div class="top"></div>
        </div>
      </section>
    </div>

    <p class="my-2 text-center text-warning">Try editting the side colors of the boxes</p>

    <div class="d-flex align-items-center justify-content-center">
      <input type="color" class="mx-3" id="leftclr" [value]="left" (input)="clrUpdated('left', $event)" />
      <input type="color" class="mx-3" id="topclr" [value]="top" (input)="clrUpdated('top', $event)" />
      <input type="color" class="mx-3" id="frontclr" [value]="front" (input)="clrUpdated('front', $event)" />
    </div>
  </div>
</div>

