<p class="h5 my-2 text-center">Try editting the side colors of the boxes</p>

<div class="d-flex align-items-center justify-content-center">
  <input type="color" class="mx-3" id="leftclr" value="#d53a33" (input)="leftClrUpdated($event)" />
  <input type="color" class="mx-3" id="topclr" value="#1d9099" (input)="topClrUpdated($event)" />
  <input type="color" class="mx-3" id="frontclr" value="#e7ac20" (input)="frontClrUpdated($event)" />
</div>

<div class="home-box-wrapper">
  <section class="abs-center box-container">
    <div class="cube cube1">
      <div class="front"></div>
      <div class="left"></div>
      <div class="top"></div>
    </div>
    <div class="cube cube2">
      <div class="front"></div>
      <div class="left"></div>
      <div class="top"></div>
    </div>
    <div class="cube cube3">
      <div class="front"></div>
      <div class="left"></div>
      <div class="top"></div>
    </div>
    <div class="cube cube4">
      <div class="front"></div>
      <div class="left"></div>
      <div class="top"></div>
    </div>
    <div class="cube cube5">
      <div class="front"></div>
      <div class="left"></div>
      <div class="top"></div>
    </div>
    <div class="cube cube6">
      <div class="front"></div>
      <div class="left"></div>
      <div class="top"></div>
    </div>
    <div class="cube cube7">
      <div class="front"></div>
      <div class="left"></div>
      <div class="top"></div>
    </div>
    <div class="cube cube8">
      <div class="front"></div>
      <div class="left"></div>
      <div class="top"></div>
    </div>
    <div class="cube cube9">
      <div class="front"></div>
      <div class="left"></div>
      <div class="top"></div>
    </div>
    <div class="cube cube10">
      <div class="front"></div>
      <div class="left"></div>
      <div class="top"></div>
    </div>
    <div class="cube cube11">
      <div class="front"></div>
      <div class="left"></div>
      <div class="top"></div>
    </div>
    <div class="cube cube12">
      <div class="front"></div>
      <div class="left"></div>
      <div class="top"></div>
    </div>
    <div class="cube cube13">
      <div class="front"></div>
      <div class="left"></div>
      <div class="top"></div>
    </div>
    <div class="cube cube14">
      <div class="front"></div>
      <div class="left"></div>
      <div class="top"></div>
    </div>
    <div class="cube cube15">
      <div class="front"></div>
      <div class="left"></div>
      <div class="top"></div>
    </div>
    <div class="cube cube16">
      <div class="front"></div>
      <div class="left"></div>
      <div class="top"></div>
    </div>
    <div class="cube cube17">
      <div class="front"></div>
      <div class="left"></div>
      <div class="top"></div>
    </div>
    <div class="cube cube18">
      <div class="front"></div>
      <div class="left"></div>
      <div class="top"></div>
    </div>
    <div class="cube cube19">
      <div class="front"></div>
      <div class="left"></div>
      <div class="top"></div>
    </div>
    <div class="cube cube20">
      <div class="front"></div>
      <div class="left"></div>
      <div class="top"></div>
    </div>
    <div class="cube cube21">
      <div class="front"></div>
      <div class="left"></div>
      <div class="top"></div>
    </div>
    <div class="cube cube22">
      <div class="front"></div>
      <div class="left"></div>
      <div class="top"></div>
    </div>
    <div class="cube cube23">
      <div class="front"></div>
      <div class="left"></div>
      <div class="top"></div>
    </div>
    <div class="cube cube24">
      <div class="front"></div>
      <div class="left"></div>
      <div class="top"></div>
    </div>
    <div class="cube cube25">
      <div class="front"></div>
      <div class="left"></div>
      <div class="top"></div>
    </div>
    <div class="cube cube26">
      <div class="front"></div>
      <div class="left"></div>
      <div class="top"></div>
    </div>
    <div class="cube cube27">
      <div class="front"></div>
      <div class="left"></div>
      <div class="top"></div>
    </div>
  </section>
</div>
