.scroll-top {
	position: fixed;
	opacity: 0;
	bottom: 3rem;
	right: 1.6rem;

	i {
		font-size: xx-large;
		color: var(--scroll__top__clr);
	}

	&.show-scroll-top:hover {
		opacity: 1;
	}
}

.show-scroll-top {
	opacity: 0.5;
	cursor: pointer;
}
