.settings-btn {
  position: fixed;
  opacity: 0.5;
  bottom: 50%;
  right: -1.1rem;
  z-index: 100;
  outline: none;
  border-radius: 1rem 0 0 1rem;

  transition: right 0.4s ease-out;
  border: 0;

  i {
    margin-top: 0.1rem;
    font-size: xx-large;
    color: var(--settings__btn__clr);
  }

  &:hover {
    opacity: 1;
    right: 0;
  }
}

.settings-btn:focus {
  outline: 0;
}

@media screen and (max-width: 768px) {
  .settings-btn {
    left: -1.1rem;
    border-radius: 0 1rem 1rem 0;
  }
}
