@use '../abstracts' as *;
@use '../vendors/bs' as *;
@use 'sass:math';

.cards-table {
  margin: 0 auto;
  max-width: 1000px;
  background: var(--cards_table_bg);
  background: brown;
  overflow: hidden;
  border-radius: 10rem;
  padding: 2rem;

  al-cards {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .playing-cards-wrapper {
    width: 75%;

    .playing-cards {
      .playing-card {
        &:not(:first-child) {
          margin-left: -3.3rem;
        }
      }
    }
  }
}

@include media-breakpoint-down(xl) {
  .cards-table {
    padding: 1rem;

    .playing-cards-wrapper {
      .playing-cards {
        .playing-card {
          &:not(:first-child) {
            margin-left: -3.3rem;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .cards-table {
    .playing-cards-wrapper {
      .playing-cards {
        .playing-card {
          &:not(:first-child) {
            margin-left: -3.5rem;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .cards-table {
    .playing-cards-wrapper {
      .playing-cards {
        .playing-card {
          &:not(:first-child) {
            margin-left: -3.6rem;
          }
        }
      }
    }
  }
}
