@use '../abstracts' as *;
@use '../vendors/bs' as *;
@use 'sass:math';

.cards-table {
  margin: 0 auto;
  max-width: 1000px;
  background: var(--cards_table_bg);
  background: brown;

  border-radius: 10rem;
  padding: 2rem;

  .playing-cards {
    .playing-card {
      height: clamp(5.5rem, calc(5.5rem + 2vw), 7rem);
      padding: 1rem 1.2rem;

      &:not(:first-child) {
        margin-left: -2.2rem;
      }

      .card-top,
        .card-bottom {
          span:not(.card-nr) {
            font-size: 0.55rem;
          }

          .card-nr {
            font-size: 1rem;
            font-weight: 600;
          }

          .card-suit {
            padding-top: 0.3rem;
            width: 0.7rem;
          }
        }

        .card-top {
          left: math.div($distance, 2);
          top: $distance;
        }

        .card-bottom {
          right: math.div($distance, 2);
          bottom: $distance;
        }
    }
  }
}

@include media-breakpoint-down(lg) {
  .cards-table {
    .playing-cards {
      .playing-card {
      height: clamp(5.5rem, calc(4.5rem + 2vw), 6rem);
      padding: 1rem 1rem;

        &:not(:first-child) {
          margin-left: -1.8rem;
        }

        .card-top,
        .card-bottom {
          span:not(.card-nr) {
            font-size: 0.5rem;
          }

          .card-nr {
            font-size: .8rem;
          }

          .card-suit {
            width: 0.7rem;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .cards-table {
    .playing-cards {
      .playing-card {
        height: 6rem;
        padding: 1.1rem 1.2rem;

        &:not(:first-child) {
          margin-left: -2rem;
        }

        .card-top,
        .card-bottom {
          span:not(.card-nr) {
            font-size: 0.6rem;
          }

          .card-nr {
            font-size: .8rem;
            font-weight: 700;
            line-height: 0.8;
            letter-spacing: 0;
          }

          .card-suit {
            width: 0.7rem;
          }
        }

        .card-top {
          left: math.div($distance, 2);
          top: $distance;
        }

        .card-bottom {
          right: math.div($distance, 2);
          bottom: $distance;
        }
      }
    }
  }
}
