@use 'sass:math';

$distance: 0.3rem;
$fontSize: 16px;
$tiltAngle: 5deg;
$moveDown: 6px;

.playing-cards {
  padding-top: 3.5rem;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  overflow-y: auto;
  gap: 10px;
}

.playing-card {
  font-size: 100%;
  position: relative;
  background-color: rgb(252, 255, 250);
  height: 10rem;
  aspect-ratio: math.div(3.3,5);
  border: 1px solid gray;
  border-radius: 10px;
  padding: 2.2rem;
  cursor: pointer;
  box-shadow: 0px 5px 10px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease-in-out;

  &:not(:first-child) {
    margin-left: -2.75rem;
  }

  &.selected {
    top: -2rem;
    background-color: rgb(222, 221, 240);
  }

  &.warn {
    background-color: yellow;
  }

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.card-diamond,
.card-heart {
  color: #d40000;
}

.card-top,
.card-bottom {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;

  span:not(.card-nr) {
    font-weight: 800;
    font-size: calc(1rem + 0.2vw);
  }

  .card-nr {
    font-size: 1.65rem;
    font-weight: 700;
    line-height: 0.8;
    letter-spacing: 0;
  }

  .card-suit {
    padding-top: 0.3rem;
    width: 1.3rem;
    aspect-ratio: 1;
  }
}

.card-top {
  left: $distance;
  top: $distance * 2;
}

.card-bottom {
  right: $distance;
  bottom: $distance * 2;
}

.figures {
  // border: 1px solid rgb(207, 87, 87);
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.5rem;
  place-items: center;
}

.figure {
  position: relative;
}

.flip {
  transform: rotate(180deg);
}

.move-down {
  margin-top: 1.5rem;
}

.move-up {
  margin-bottom: 1.5rem;
}

@for $i from 1 through 15 {
  .f-#{$i} {
    grid-row-start: math.ceil(math.div($i, 3));
    grid-row-end: math.ceil(math.div($i, 3)) + 1;

    @if $i % 3 == 0 {
      grid-column-start: 3;
      grid-column-end: 4;
    } @else {
      grid-column-start: $i % 3;
      grid-column-end: $i % 3 + 1;
    }
  }
}

.f-special {
  width: 240%;
}

.jk {
  width: 340%;
}

@media (min-width: 768px) {
  .card:hover {
    background-color: rgb(222, 221, 240);
  }
}
