@use 'sass:math';
@use '../abstracts' as *;
@use '../vendors/bs' as *;

.playing-cards {
  padding: 2rem 1rem 0;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  overflow: hidden;
  gap: 10px;
}

.playing-card {
  font-size: 100%;
  position: relative;
  background-color: var(--playing_card_bg);
  height: 10rem;
  aspect-ratio: math.div(3.3, 5);
  border: var(--playing_card_border);
  border-radius: 7px;
  padding: 1.8rem;
  cursor: pointer;
  box-shadow: var(--playing_card_box_shadow);
  transition: background-color 0.2s ease-in-out;

  &:not(:first-child) {
    margin-left: -2.75rem;
  }

  &.selected {
    top: -2rem;
    background-color: var(--playing_card_selected_bg);
  }

  &.warn {
    background-color: var(--playing_card_warn_bg);
  }

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.card-diamond,
.card-heart {
  color: #d40000;
}

.card-spade,
.card-club {
  color: #212121;
}

.card-top,
.card-bottom {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;

  span:not(.card-nr) {
    font-weight: 800;
    font-size: 0.8rem;
    line-height: 1.2;
  }

  .card-nr {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 0.8;
    letter-spacing: 0;
  }

  .card-suit {
    padding-top: 0.3rem;
    width: 1.2rem;
    aspect-ratio: 1;
  }
}

.card-top {
  left: $distance;
  top: $distance * 2;
}

.card-bottom {
  right: $distance;
  bottom: $distance * 2;
}

.figures {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.5rem;
  place-items: center;
}

.figure {
  position: relative;
}

.flip {
  transform: rotate(180deg);
}

@for $i from 1 through 15 {
  .f-#{$i} {
    grid-row-start: math.ceil(math.div($i, 3));
    grid-row-end: math.ceil(math.div($i, 3)) + 1;

    @if $i % 3 == 0 {
      grid-column-start: 3;
      grid-column-end: 4;
    } @else {
      grid-column-start: $i % 3;
      grid-column-end: $i % 3 + 1;
    }
  }
}

.f-special {
  width: 240%;
}

.jk {
  width: 340%;
}

@include media-breakpoint-up(md) {
  .playing-card:hover {
    background-color: var(--playing_card_hover_bg);
  }
}

@include media-breakpoint-down(xl) {
  .playing-card {
    height: 7rem;
    padding: 1rem 1.2rem;

    &:not(:first-child) {
      margin-left: -2.75rem;
    }

    &.selected {
      top: -1rem;
    }
  }

  .card-top,
  .card-bottom {
    span:not(.card-nr) {
      font-size: 0.6rem;
    }

    .card-nr {
      font-size: 1rem;
      font-weight: 700;
      line-height: 0.8;
      letter-spacing: 0;
    }

    .card-suit {
      padding-top: 0.3rem;
      width: 0.7rem;
      aspect-ratio: 1;
    }
  }

  .card-top {
    left: math.div($distance, 2);
    top: $distance;
  }

  .card-bottom {
    right: math.div($distance, 2);
    bottom: $distance;
  }

  .figures {
    gap: 0;
  }

  .figure {
    width: 100%;
  }

  .f-special {
    width: 240%;
  }

  .jk {
    width: 340%;
  }
}
