@use '../abstracts' as *;
@use '../vendors/bs' as *;

.download-cv {
  min-width: 300px;
  margin: 1rem 0;

  &:disabled {
    cursor: progress;
  }
}

.cv {
  width: $cvWrapperMaxWd;
  display: flex;
  margin: 0 auto;
  box-shadow: var(--cv_box_shadow);

  * {
    letter-spacing: 0.01px;
  }
}

.cv__left {
  width: $cvLeftWd;
  background-color: var(--cv_left__bg);
  background-color: var(--cv_left__bg-a);
  padding: $cvLeftPadding;
}

.cv__left__section {
  &:not(:first-child) {
    border-top: 3px solid var(--cv_left__section__border__clr);
  }

  .cv__section__title {
    margin-top: 0.4rem;
  }

  margin-top: 1rem;
}

.cv__section__title {
  letter-spacing: 3px;
  text-transform: uppercase;
}

.personal,
.languages {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li:nth-child(even) {
      margin-bottom: 1rem;
    }
  }

  a {
    color: var(--anchor_clr);
  }
}

.skills {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.skill {
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skill__rating {
  width: 90px;
}

.skill__name {
  font-weight: 700;
  color: var(--skill_clr);
}

.certificate {
  color: var(--anchor_clr);
}

.cert-date {
  font-weight: 600;
}

.cv__right {
  width: 100%;
  padding: $cvRightPadding;
  background-color: var(--cv_right__bg);
  background-color: var(--cv_right__bg-a);
}

.cv__right__section {
  border-top: 1px solid var(--cv_right__section__border__clr);
  margin-top: 1.5rem;

  .cv__section__title {
    margin-top: 0.7rem;
  }

  &:last-child {
    display: flex;
    justify-content: space-between;

    .interests {
      padding: 0 0.8rem 0 0;
      min-width: 153px;
    }
  }
}

.experience {
  .work {
    margin-bottom: 2.5rem;

    .role-date {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.3rem;

      .role,
      .date {
        font-weight: 600;
      }
    }

    .duties {
      padding-top: 0.8rem;
    }
  }
}

.company {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 0.4rem;
  color: var(--anchor_clr);

  img {
    margin-right: 0.5rem;
  }
}

.study {
  margin-bottom: 2.5rem;

  .dep-date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;

    .dep,
    .date {
      font-weight: 600;
      color: var(--anchor_clr);
    }
  }

  .school {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 0.4rem;
    color: var(--anchor_clr);

    img {
      margin-right: 0.4rem;
    }

    &:hover {
      color: var(--bs-link-hover-color);
    }
  }
}

.usr-role {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;

  i {
    color: #dd1b16;
    font-size: 28px;
    margin-right: 2px;
  }
}

.profile-pic > img {
  border-radius: 50%;
  overflow: hidden;
}

.usr-name {
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
}

.interests-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    font-weight: 500;
    line-height: 2rem;
  }
}

.soft-skills-list {
  padding-left: 1.2rem;
}

@include media-breakpoint-up(lg) {
  .cv {
    aspect-ratio: $cvRatio;
  }
}

@include media-breakpoint-down(lg) {
  .download-cv {
    display: none !important;
  }

  .cv {
    width: 100%;
    flex-direction: column;
    box-shadow: none;
    margin: 1rem 0 0;
    overflow: hidden;
  }

  .cv__left {
    width: 100%;
    padding: $cvLeftMobilePadding;
  }

  .cv__left__section {
    max-width: 400px;
    margin: auto;
  }

  .cv__right {
    max-width: 100%;
    padding: $cvRightMobilePadding;
  }
}

@include media-breakpoint-down(md) {
  p.usr-name {
    font-size: 1.5rem;
  }

  p.usr-role {
    font-size: .8rem;
  }
}
