@use '../abstracts' as *;
@use '../vendors/bs' as *;
@use 'sass:math';

.hidden-user {
  position: absolute;

  &.user1 {
    top: 50%;
    left: -10px;
    transform: translate(0, -50%);
  }

  &.user2 {
    top: -2.5rem;
    left: 50%;
    translate: -50%;
  }

  &.user3 {
    top: 50%;
    right: -10px;
    transform: translate(0, -50%);
  }
}

.hidden-card {
  border-radius: 5px;
}

.other-user-wrapper {
  display: flex;

  &:not(.vertical) {
    @include flex-center(false);
  }

  &.vertical {
    align-items: center;
  }
}

.playing-user-icon {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: var(--playing-user-icon-border);
}

.hidden-cards {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

  &.vertical {
    margin-top: 2.7rem;
    @include flex-center(false);

    .hidden-card {
      transform: rotate(90deg);
      margin-top: -2.2rem;
    }
  }

  &:not(.vertical) {
    justify-content: center;

    .hidden-card {
      margin-left: -1.3rem;
    }
  }

  .hidden-card {
    box-shadow: var(--hidden_card_box_shadow);

    .hidden-card-img {
      width: 2rem;
    }
  }
}

.hidden-user.user1 {
  .playing-user-icon {
    margin-right: 1.5rem;
  }
}

.hidden-user.user2 {
  .playing-user-icon {
    margin-bottom: 1rem;
  }
  .hidden-cards {
    margin-left: 1.25rem;
  }
}

.hidden-user.user3 {
  .playing-user-icon {
    margin-left: 1.5rem;
    order: 2;
  }
}

@include media-breakpoint-down(md) {
  .hidden-user.user1 {
    .playing-user-icon {
      margin-right: 1rem;
    }
  }

  .hidden-user.user2 {
    .playing-user-icon {
      margin-bottom: 0.7rem;
    }
  }

  .hidden-user.user3 {
    .playing-user-icon {
      margin-left: 1rem;
    }
  }
}
