@use './../vendors/bs' as *;
@use '../abstracts' as *;

.intro {
  word-break: break-word;
  overflow-wrap: break-word;

  span {
    font-size: 4.3rem;
    font-weight: 700;
    animation-duration: 0.85s;
    transition: color 0.2s ease-in-out;
    cursor: crosshair;
  }
  // transform: rotateY(180deg);
}

@include media-breakpoint-down(md) {
  .intro {
    span {
      font-size: 1.8rem;
    }
  }
}

