@use '../abstracts' as *;
@use '../vendors/bs' as *;
@use 'sass:math';

.playing-table {
  position: relative;
  margin: 3rem auto 0.5rem;
  max-width: 1000px;
  min-height: 284.36px;
  border-radius: 10rem;
  background: var(--cards_table_fallback_bg);
  background: var(--cards_table_bg);
  border: var(--cards_table_border);
  padding: 4rem 2rem;

  .cards-table {
    > div {
      width: 65%;
    }

    .selected {
      top: 0;
      background: var(--playing_card_bg);
    }

    .playing-card {
      &:not(:first-child) {
        margin-left: -2.8rem;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .playing-table {
    .user-cards {
      bottom: -100px;
    }
  }
}

@include media-breakpoint-down(xl) {
  .playing-table {
    .cards-table {
      .playing-card {
        &:not(:first-child) {
          margin-left: -2.7rem;
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .playing-table {
    min-height: 223px;

    .cards-table {
      .playing-card {
        flex: 0 1 50px;
        max-height: 75px;
        height: 75px;
        min-width: 50px;

        &:not(:first-child) {
          margin-left: -1.7rem;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .playing-table {
    .cards-table {
      .playing-card {
        &:not(:first-child) {
          margin-left: -1.7rem;
        }
      }
    }
  }
}

@media (max-width: 540px) {
  .playing-table {
    .cards-table {
      .playing-card {
        flex: 0 1 45px;
        max-height: 65px;
        min-width: 40px;

        &:not(:first-child) {
          margin-left: -1.3rem;
        }
      }
    }

    .user-cards {
      bottom: -60px;

      .playing-card {
        &:not(:first-child) {
          margin-left: -1.3rem;
        }
      }
    }
  }

  .figures {
    display: none !important;
  }
}
