@use '../abstracts' as *;
@use '../vendors/bs' as *;
@use 'sass:math';

.playing-buttons {
  position: absolute;
  height: 6rem;
  // background: rgb(0, 239, 120);
  z-index: 10;
  bottom: -70%; //* 50

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }
}

@media (max-width: 650px) {
  .playing-buttons {
    bottom: -200px;
  }
}

@media (max-width: 540px) {
  .playing-buttons {
    bottom: -170px;
  }
}
