@use '../abstracts' as *;
@use '../vendors/bs' as *;
@use 'sass:math';

.playing-table {
  position: relative;
  margin: 3rem auto 0.5rem;
  max-width: 1000px;
  background: var(--cards_table_fallback_bg);
  background: var(--cards_table_bg);

  border-radius: 10rem;
  padding: 4rem 2rem;

  .cards-table {
    > div {
      width: 70%;
    }

    .playing-card {
      &:not(:first-child) {
        margin-left: -3.3rem;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .playing-table {
    .user-cards {
      bottom: -57%;
    }
  }
}

@include media-breakpoint-down(xl) {
  .playing-table {
    .cards-table {
      .playing-card {
        &:not(:first-child) {
          margin-left: -2.7rem;
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .playing-table {
    .cards-table {
      .playing-card {
        &:not(:first-child) {
          margin-left: -2.5rem;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .playing-table {
    .cards-table {
      .playing-card {
        &:not(:first-child) {
          margin-left: -2.3rem;
        }
      }
    }
  }
}

@media (max-width: 540px) {
  .playing-table {
    .cards-table {
      .playing-card {
        &:not(:first-child) {
          margin-left: -1.8rem;
        }
      }
    }
  }

  .playing-table {
    .user-cards {
      bottom: -40%;

      .playing-card {
        &:not(:first-child) {
          margin-left: -1rem;
        }
      }
    }
  }

  .figures {
    display: none !important;
  }
}
