@use '../vendors/bs' as *;

.projects-wrapper {
  max-width: 900px;
  min-width: 700px;
  margin: 1rem auto;
}

.drop-shadow-carousel {
  filter: drop-shadow(0 0 1rem rgb(91, 96, 117));
}

@include media-breakpoint-down(sm) {
  .projects-wrapper {
    border-radius: 1.5rem;
    overflow: hidden;
    min-width: 100%;
    margin: 0;
  }

  .drop-shadow-carousel {
    filter: drop-shadow(0 0 .5rem rgb(69, 72, 82));
  }
}
