@use '../vendors/bs' as *;

.projects-wrapper {
  max-width: 900px;
  min-width: 700px;
  margin: 1rem auto;
}

#agency {
  color: #fff;
}

#agente {
  color: #000080;
}

#tip {
  color: black;
}

@include media-breakpoint-down(sm) {
  .projects-wrapper {
    min-width: 100%;
    margin: 0;
  }

  .drop-shadow-carousel {
    filter: drop-shadow(0 0 0.5rem rgb(69, 72, 82));
  }

  #swp { 
    color: #000;
  }

  #agency {
    color: #ffd700;
  }
}
