// CV
$cvWrapperMaxWd: 950px;
$cvLeftWd: 280px;
$cvRightMaxWd: $cvWrapperMaxWd - $cvLeftWd;
$cvLeftBg: #000000;
$cvLeftClr: #ffffff;
$cvRightBg: #ffffff;
$cvRightMainClr: #050f34;
$cvRightScndClr: #696f85;
$cvLeftPadding: 2rem 2rem;
$cvRightPadding: 4rem 3rem;

// CV - Mobile
$cvLeftMobilePadding: 2rem 1rem;
$cvRightMobilePadding: 2rem 1rem;