<div class="project-details" *ngIf="project">
  <div class="title-and-desc mb-3 d-flex align-items-center flex-nowrap">
    <button class="btn btn-info mr-4" routerLink="../list"><i class="fas fa-arrow-left"></i></button>

    <span class="proj-title">
      <strong>{{ project.title }}</strong
      >: {{ project.desc }}</span
    >
  </div>

  <div class="all-project-images" id="all-project-images">
    <div class="d-flex flex-wrap align-items-center justify-content-center" ngxViewer [viewerOptions]="viewerOptions">
      <div class="project-detail-img-div m-2 cp" *ngFor="let img of project.imgs">
        <img
          class="project-detail-img"
          loading="lazy"
          src="assets/media/{{ project.f }}/{{ img }}.png"
          (error)="mimg.src = errorImg"
          #mimg
          alt="{{ img }}"
        />
      </div>
    </div>
    <p *ngIf="extra >= 1" (click)="moreImages()" class="text-center my-3 cp" style="text-decoration: underline">More images...</p>
  </div>

  <div class="techs d-flex flex-wrap align-items-center justify-content-center mx-auto" style="max-width: 700px;">
    <div class="tech m-2 bg-dark p-2 font-weight-bold" *ngFor="let tech of project.techs">{{ tech }}</div>
  </div>
</div>
