<div class="my-nav d-flex align-items-center justify-content-between" id="header">
  <input type="checkbox" id="my-nav-check" />
  <div class="my-nav-header" (click)="closeMenu()" routerLink="home">
    <div class="mx-3">
      <img src="assets/media/icons/albjon-memoji.png" width="45px" alt="Iphone memoji" />
    </div>
  </div>
  <div class="my-nav-theme-wrapper">
    <i *ngIf="(theme | async) === Themes.dark" title="{{ 'Menu.Toggle_light' | translate }}" (click)="toggleTheme()" class="my-nav-theme fas fa-sun"></i>
    <i *ngIf="(theme | async) === Themes.light" title="{{ 'Menu.Toggle_dark' | translate }}" (click)="toggleTheme()" class="my-nav-theme fas fa-moon"></i>
  </div>
  <div class="lang-toggler">
    <div class="switch">
      <input
        id="language-toggle"
        [(ngModel)]="langCheckbox"
        (change)="onLangChange()"
        class="check-toggle check-toggle-round-flat"
        type="checkbox"
      />
      <label for="language-toggle"></label>
      <span class="on"><img src="assets/media/flags/en.svg" alt="" width="20" /></span>
      <span class="off"><img src="assets/media/flags/al.svg" alt="" width="20" /></span>
    </div>
  </div>
  <div class="my-nav-btn">
    <label for="my-nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="my-nav-links" id="my-nav-links">
    <span class="menu-item" (click)="closeMenu()" routerLink="home" routerLinkActive="active" title="{{ 'Menu.Home-desc' | translate }}">
      <i class="fas fa-home"></i>
      {{ 'Menu.Home' | translate }}
    </span>
    <span class="menu-item" (click)="closeMenu()" routerLink="cv" routerLinkActive="active" title="{{ 'Menu.CV-desc' | translate }}">
      <i class="fas fa-file-alt"></i>
      {{ 'Menu.CV' | translate }}
    </span>
    <span
      class="menu-item"
      (click)="closeMenu()"
      routerLink="cards"
      routerLinkActive="active"
      title="{{ 'Menu.Cards' | translate }}"
    >
      <i class="fas fa-heart"></i>
      {{ 'Menu.Cards' | translate }}
    </span>
    <!-- <span
      class="menu-item"
      (click)="closeMenu()"
      routerLink="about"
      routerLinkActive="active"
      title="{{ 'Menu.About_desc' | translate }}"
    >
      <i class="fas fa-info"></i>
      {{ 'Menu.About' | translate }}
    </span> -->
  </div>
</div>
