<div class="my-nav d-flex align-items-center justify-content-md-between" id="header">
  <input type="checkbox" id="my-nav-check" />
  <div class="my-nav-header" (click)="closeMenu()" routerLink="home">
    <div class="my-nav-title">
      <span>Albjon's Website</span>
    </div>
  </div>
  <!-- <div class="my-nav-theme-wrapper">
    <i *ngIf="(theme | async) === Themes.dark" title="Tooggle light theme" (click)="toggleTheme()" class="my-nav-theme fas fa-sun"></i>
    <i *ngIf="(theme | async) === Themes.light" title="Toggle dark theme" (click)="toggleTheme()" class="my-nav-theme fas fa-moon"></i>
  </div> -->
  <div class="my-nav-btn">
    <label for="my-nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="my-nav-links" id="my-nav-links">
    <span class="menu-item" (click)="closeMenu()" routerLink="home" routerLinkActive="active" title="Homepage">
      <i class="fas fa-home" style="width: 25px"></i>
      Home
    </span>
    <span class="menu-item" (click)="closeMenu()" routerLink="projects" routerLinkActive="active" title="See some of my projects">
      <i class="fas fa-tasks" style="width: 25px"></i>
      Projects
    </span>
    <span class="menu-item" (click)="closeMenu()" routerLink="cv" routerLinkActive="active" title="CV (Curriculum Vitae)">
      <i class="fas fa-file-alt" style="width: 25px"></i>
      Resume
    </span>
    <!-- <span class="menu-item" (click)="closeMenu()" routerLink="contact" routerLinkActive="active">
      <i class="fas fa-paper-plane"></i>
      Contact
    </span> -->
  </div>
</div>
