<div class="nav d-flex align-items-center justify-content-md-between justify-content-start" id="header">
  <input type="checkbox" id="nav-check" />
  <div class="nav-header" (click)="closeMenu()" routerLink="home">
    <div class="nav-title">
      <img src="../../../assets/media/icons/favicon.png" width="50px" height="50px" alt="" />
    </div>
  </div>
  <div class="nav-theme-wrapper">
    <i *ngIf="(theme | async) === Themes.dark" title="Tooggle light theme" (click)="toggleTheme()" class="nav-theme fas fa-sun"></i>
    <i *ngIf="(theme | async) === Themes.light" title="Toggle dark theme" (click)="toggleTheme()" class="nav-theme fas fa-moon"></i>
  </div>

  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links" id="nav-links">
    <span class="menu-item" (click)="closeMenu()" routerLink="home" routerLinkActive="active" title="Homepage">
      <i class="fas fa-home" style="width: 25px"></i>
      Home
    </span>
    <span class="menu-item" (click)="closeMenu()" routerLink="projects" routerLinkActive="active" title="See some of my projects">
      <i class="fas fa-tasks" style="width: 25px"></i>
      Projects
    </span>
    <span class="menu-item" (click)="closeMenu()" routerLink="cv" routerLinkActive="active" title="CV (Curriculum Vitae)">
      <i class="fas fa-file-alt" style="width: 25px"></i>
      Resume
    </span>
    <!-- <span class="menu-item" (click)="closeMenu()" routerLink="contact" routerLinkActive="active">
      <i class="fas fa-paper-plane"></i>
      Contact
    </span> -->
  </div>
</div>
