// CV
$cvWrapperMaxWd: 950px;
$cvLeftWd: 280px;
$cvRightMaxWd: $cvWrapperMaxWd - $cvLeftWd;
$cvLeftBg: #000000;
$cvLeftClr: #ffffff;
$cvRightBg: #ffffff;
$cvRightMainClr: #050f34;
$cvRightScndClr: #696f85;
$cvLeftPadding: 2rem 2rem;
$cvRightPadding: 4rem 3rem;

// CV - Mobile
$cvLeftMobilePadding: 2rem 1rem;
$cvRightMobilePadding: 2rem 1rem;

// Layout
$bodyBg: #292929;

// Header
$headerHt: 53px;

// Complicated
$cvBoxShadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999, 4px 4px 0px #999, 5px 5px 0px #999, 6px 6px 0px #999, 7px 7px 0px #999,
  8px 8px 0px #999, 9px 9px 0px #999, 10px 10px 0px #999, 11px 11px 0px #999, 12px 12px 0px #999, 13px 13px 0px #999, 14px 14px 0px #999, 15px 15px 0px #999;
