// CV 
$cvWrapperMaxWd: 950px;
$cvWrapperHt: 100%;
$cvLeftWd: 280px;
$cvRightMaxWd: $cvWrapperMaxWd - $cvLeftWd;
$cvLeftBg: #000000;
$cvLeftClr: #ffffff;
$cvRightBg: #ffffff;
$cvRightMainClr: #050F34;
$cvRightScndClr: #696F85;
$cvLeftPadding: 2rem 2rem;
$cvRightPadding: 4rem 3rem;

// Layout
$bodyBg: #d5dde7;