@use '../abstracts' as *;

body {
  background-color: var(--body__bg);
  color: var(--body__clr);
  height: 100%;
  overflow: hidden;
  transition: all 0.7s;
}

.main-content {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  height: calc(100vh - #{$headerHt});
  overflow-y: auto;
}

@media screen and(max-width: 1100px) {
}
