@use '../abstracts' as *;

html,
body {
  scroll-behavior: smooth;
  max-height: max-content;
}

.main-content {
  padding-top: 1rem;
  transition: padding-top .15s ease-in-out;
}

body {
  overflow-x: hidden;
}
