@use '../vendors/bs' as *;

.contact-form.message-sending {
  .dm {
    -webkit-animation-name: fly;
    animation-name: fly;
    -webkit-animation-duration: 3.5s;
    animation-duration: 3.5s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    position: absolute;
    bottom: 1rem;
  }

  border-bottom: 4px solid white;
}

.contact-form.message-not-sending {
  .dm {
    -webkit-animation-name: dont-fly;
    animation-name: dont-fly;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    position: absolute;
    bottom: 1rem;
  }

  -webkit-animation-name: pulse-err;
  animation-name: pulse-err;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  border-bottom: 4px solid white;
}

.contact-form {
  position: relative;
  min-width: 400px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
  transition: all 0.2s ease-in;

  label {
    font-size: 0.8rem;
  }
}

.footer {
  position: relative;
  padding: 3rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .message {
    text-align: center;
    font-weight: 500;
  }

  ul {
    padding: 0;
    margin: 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  ul li a {
    position: relative;
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 2px 5px var(--footer__btn__shadow__clr);
    transition: 0.5s;

    background-image: linear-gradient(0deg, rgb(64, 108, 129) rgb(9, 124, 212));
    background-color: initial;
    color: rgb(223, 219, 212);
  }

  ul li a:hover {
    box-shadow: 0 7px 7px var(--footer__btn__hover__shadow__clr);
    text-decoration: none;
  }

  ul li:nth-child(1) a:hover {
    background: #02a6e7;
  }

  ul li:nth-child(2) a:hover {
    background: #2867b2;
  }

  ul li:nth-child(3) a:hover {
    background: #6cc644;
  }

  ul li:nth-child(4) a:hover {
    background: #c13584;
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  }

  ul li:nth-child(5) a:hover {
    background: #4267b2;
  }

  ul li a .fab {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, rgb(39, 37, 37), rgb(63, 56, 56));
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size: 24px;
    color: #ffffff;
    transition: 0.5s;
  }

  ul li:nth-child(1) a:hover .fab {
    color: #0049b6;
  }

  ul li:nth-child(2) a:hover .fab {
    color: #2867b2;
  }

  ul li:nth-child(3) a:hover .fab {
    color: #6cc644;
  }

  ul li:nth-child(4) a:hover .fab {
    color: #c75242;
  }

  ul li:nth-child(5) a:hover .fab {
    color: #4267b2;
  }

  .copyright {
    margin-top: 1rem;

    a {
      color: var(--copyright__clr);
    }
  }
}

@include media-breakpoint-down(xs) {
  .contact-form {
    min-width: calc(100vw - 2rem);
    width: 100%;
  }

  .footer {
    padding: 1rem 0 3rem;

    .copyright {
      right: auto;
    }

    ul {
      justify-content: center;
    }

    ul li a {
      height: 44px;
      width: 44px;

      .fab {
        line-height: calc(44px - 12px);
        font-size: 24px;
      }
    }
  }
}
