@use '../vendors/bs' as *;

.footer {
  position: relative;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .message {
    text-align: center;
    font-weight: 500;
  }

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  ul li a {
    position: relative;
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 2px 5px var(--footer__btn__shadow__clr);
    background: #ffffff;
    transition: 0.5s;
  }

  ul li a:hover {
    box-shadow: 0 7px 7px var(--footer__btn__hover__shadow__clr);
    text-decoration: none;
  }

  ul li:nth-child(1) a:hover {
    background: #02a6e7;
  }

  ul li:nth-child(2) a:hover {
    background: #2867b2;
  }

  ul li:nth-child(3) a:hover {
    background: #6cc644;
  }

  ul li:nth-child(4) a:hover {
    background: #c13584;
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  }

  ul li:nth-child(5) a:hover {
    background: #4267b2;
  }

  ul li a .fab {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size: 24px;
    color: #262626;
    transition: 0.5s;
  }

  ul li:nth-child(1) a:hover .fab {
    color: #0049b6;
  }

  ul li:nth-child(2) a:hover .fab {
    color: #2867b2;
  }

  ul li:nth-child(3) a:hover .fab {
    color: #6cc644;
  }

  ul li:nth-child(4) a:hover .fab {
    color: #c75242;
  }

  ul li:nth-child(5) a:hover .fab {
    color: #4267b2;
  }

  .copyright {
    margin-top: 1rem;

    a {
      color: var(--copyright__clr);
    }
  }
}

@media screen and(max-width: 600px) {
  .footer {
    padding: 1rem 1rem 3rem 1rem;

    .copyright {
      right: auto;
    }

    ul {
      justify-content: center;
    }

    ul li a {
      height: 44px;
      width: 44px;

      .fab {
        line-height: calc(44px - 12px);
        font-size: 24px;
      }
    }
  }
}
