@use '../abstracts' as *;
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

.nav {
  height: $headerHt;
  width: 100%;
  background-color: var(--header__bg);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1099;
}

.nav > .nav-header,
.nav > .nav-theme-wrapper {
  display: inline;
  cursor: pointer;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  height: $headerHt;
}

.nav > .nav-btn {
  display: none;
}

.nav-theme {
  display: inline;
  margin-left: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > span {
  display: inline-block;
  padding: 11.8px 20px;
  text-decoration: none;
  color: var(--header__menu__clr);
  cursor: pointer;
  font-weight: 500;
}

.nav > .nav-links > span:hover,
.nav > .nav-links > span.active {
  background-color: var(--header__menu__item__hover__bg);
  color: var(--header__menu__item__hover__clr);
  transition: 0.3s all ease-in;
}

.nav > #nav-check {
  display: none;
}

@include media-breakpoint-down(sm) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: $headerHt;
    padding: 15px;
    margin-bottom: 0;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid var(--header__mobile__toggle__clr);
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: var(--body__bg);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: $headerHt;
    left: 0px;
  }
  .nav > .nav-links > span {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
    transition: height 0.3s ease-in;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(102vh - #{$headerHt});
    overflow-y: hidden;
  }
}
