<footer class="footer">
  <p class="message">
    <i class="fa fa-lightbulb-o"></i> Have a project in mind? <wbr /> Let discuss it... <i class="fa fa-lightbulb-o"></i>
  </p>

  <ul>
    <li>
      <a href="mailto:albjon.gjuzi@gmail.com" target="_blank" title="Send me an email"><i class="fa fab fa-envelope" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/albjon-gjuzi/" target="_blank" title="Add me on Linkedin"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href="https://github.com/gjuzialbjon" target="_blank" title="Find me on Github"><i class="fab fa-github" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href="https://www.instagram.com/https.albjoni/" target="_blank" title="Add me on Instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href="https://www.facebook.com/profile.php?id=100009317858774" target="_blank" title="Add me on Facebook"
        ><i class="fab fa-facebook" aria-hidden="true"></i
      ></a>
    </li>
  </ul>

  <div class="copyright">&copy; {{ year }} <a href="https://www.linkedin.com/in/albjon-gjuzi/" target="_blank">Albjon Gjuzi</a></div>
</footer>
