:root {
  --progress__bar__bg: #323232;
  --progress__bar__clr: #ffffff;

  --scroll__top__clr: #ffffff;

  --scrollbar__clr: #8a93bd;
  --scrollbar_border__clr: #222b45;

  --intro__letter__hover__clr: rgb(255, 0, 0);

  --cv__box__shadow__clr: #999999;

  --cv_left__bg: rgb(0, 0, 0);
  --cv_left__bg-a: rgba(0, 0, 0, 0.816);

  --cv_right__bg: rgb(20, 22, 23);
  --cv_right__bg-a: rgba(20, 22, 23, 0.824);

  --cv_left__section__border__clr: rgb(255, 255, 255);
  --cv_left__section__border__clr-a: rgba(255, 255, 255, 0.557);

  --cv_right__section__border__clr: rgb(255, 255, 255);
  --cv_right__section__border__clr-a: rgba(255, 255, 255, 0.557);

  --header__bg: #151a30;
  --header__title__clr: #ffffff;
  --header__theme__btn__clr: #ff9900;
  --header__theme__btn__bg: #ffffff;
  --header__menu__clr: #efefef;
  --header__menu__item__hover__clr: rgb(91, 179, 255);
  --header__menu__item__hover__bg: rgb(238, 234, 234);
  --header__menu__item__hover__bg-a: rgba(238, 234, 234, 0.796);

  --header__mobile__toggle__clr: #eeeeee;

  --settings__btn__clr: #1b7591;

  --footer__btn__shadow__clr: rgba(2, 115, 243, 0.651);
  --footer__btn__hover__shadow__clr: rgba(2, 115, 243, 0.651);
  --contact__form__bg: blue;
}
