:root {
  --body__bg: #e4e8ef;
  --body__clr: #222221;
  --box__cube__front__clr: #e7ac20;
  --box__cube__left__clr: #d53a33;
  --box__cube__top__clr: #1d9099;

  --lang__toggler: rgb(35, 36, 42);
  --lang__toggler__clr: rgb(255, 255, 255);

  --scroll__top__clr: #3b3737;

  --scrollbar__clr: #222b45;
  --scrollbar_border__clr: #8a93bd;

  --intro__letter__hover__clr: rgb(255, 0, 0);

  --cv_box_shadow: 1px 1px 10px 5px gray;
  --cv_left__bg-a: aliceblue;
  --cv_right__bg-a: lavender;

  --cv_left__section__border__clr: rgb(24, 23, 23);
  --cv_right__section__border__clr: rgb(44, 40, 40);

  --header__bg: #fffbfe;
  --header__shadow: 0px 1px 7px rgb(125, 120, 120);
  --header__title__clr: #1d1b1b;
  --header__menu__clr: #efefef;
  --header__menu__item__hover__clr: rgb(51, 22, 217);
  --header__menu__item__hover__bg: rgb(248, 0, 0);
  --header__nav_links_bg: #8a93bd;

  --header__mobile__toggle__clr: #221f1f;

  --settings__btn__clr: #1b7591;

  --footer_border: 2px solid black;
  --footer__btn__shadow__clr: rgba(2, 115, 243, 0.651);
  --footer__btn__hover__shadow__clr: rgba(2, 115, 243, 0.651);
  --contact__form__bg: linear-gradient(0deg, rgba(103, 80, 164, 0.05), rgba(103, 80, 164, 0.05)), #fffbfe;

  --text_muted: #1e212c;
  --anchor_clr: #212121;

  --skill_clr: rgb(231, 101, 26);
  --message_clr: #7A4B15;

  --input_bg: #bfc4d4;
  --input_focus_bg: #c2c6d4;
  --input_clr: rgb(0, 0, 0);
  --input_placeholder_clr: rgb(86, 83, 83);

  --copyright__clr: rgb(32, 31, 31);
}
