:root {
  --body__bg: #dbdada;
  --body__clr: #1d1b1b;

  --progress__bar__bg: #323232;
  --progress__bar__clr: #ffffff;

  --scroll__top__clr: #800080;

  --scrollbar__clr: #8a93bd;

  --cv__box__shadow__clr: #bda5a5;
  --cv__border: 0;
  --cv_left__bg: #000000;
  --cv_left__clr: #ffffff;
  --cv_right__bg: #ffffff;
  --cv_right__primary__text__clr: #050f34;
  --cv_right__secondary__text__clr: #696f85;
  --cv_left__section__border__clr: #ffffff;

  --header__bg: #ffffff;
  --header__title__clr: #000;
  --header__theme__btn__clr: #fff;
  --header__theme__btn__bg: rgb(26, 24, 24);
  --header__menu__clr: #252323;
  --header__menu__item__hover__clr: rgb(27, 26, 26);
  --header__menu__item__hover__bg: rgba(173, 169, 169, 0.795);

  --header__mobile__toggle__clr: #000;

  --footer__btn__shadow__clr: #0273f3a6;
  --footer__btn__hover__shadow__clr: #0273f3a6;
  --copyright__clr: #050505;
}
