<div class="playing-table">
  <app-hidden-cards class="hidden-user user1"></app-hidden-cards>
  <app-hidden-cards class="hidden-user user2" [vertical]="false"> </app-hidden-cards>
  <app-hidden-cards class="hidden-user user3"></app-hidden-cards>

  <app-cards class="cards-table" [cards]="cards2" [isTable]="true" [selectedCount]="selectedCount" (shuffle)="shuffle()"></app-cards>

  <app-cards class="user-cards" [cards]="cards" [selectedCount]="selectedCount" (changedSelected)="changedSelected($event)"></app-cards>
</div>

<div class="playing-buttons">
  <div class="left d-flex flex-column gap-2">
    <button class="btn btn-primary" (click)="shuffle()">{{ 'Cards.shuffle' | translate}}</button>
    <button class="btn btn-info">button2</button>
  </div>
  <div class="right d-flex flex-column gap-2">
    <button class="btn btn-warning" (click)="throw()">{{ 'Cards.throw' | translate}}</button>
    <button class="btn btn-danger">button4</button>
  </div>
</div>

<!-- <p class="hint-to-rotate text-msg text-center pt-2">{{ 'Rotate_msg' | translate }}</p> -->

<!-- <div class="text-center mt-5">
  <button class="btn btn-primary mt-5" (click)="shuffle()">{{ 'Cards.shuffle' | translate }}</button>
</div> -->
