<div class="playing-table">
  <app-cards class="cards-table" [isTable]="true"></app-cards>

  <app-hidden-cards [playerNumber]="1" class="hidden-user user1"></app-hidden-cards>
  <app-hidden-cards [playerNumber]="2" class="hidden-user user2" [vertical]="false"> </app-hidden-cards>
  <app-hidden-cards [playerNumber]="3" class="hidden-user user3"></app-hidden-cards>

  <app-cards class="user-cards" (changedSelected)="changedSelected($event)"></app-cards>

  <!-- <div class="playing-buttons left d-flex flex-column gap-2">
    <button class="btn py-2 px-3 btn-primary" (click)="shuffle()">{{ 'Cards.shuffle' | translate }}</button>
    <button class="btn btn-info" (click)="openRules()">{{ 'Cards.rules' | translate }}</button>
  </div> -->
  <div class="playing-buttons right d-flex flex-column gap-2">
    <button class="btn py-2 px-3 btn-warning" (click)="throw()" [ngClass]="{ 'd-none': selectedCards.length < 1 }">
      {{ 'Cards.throw' | translate }}
    </button>
    <!-- <button class="btn btn-danger">button4</button> -->
  </div>
</div>

<!-- <p class="hint-to-rotate text-msg text-center pt-2">{{ 'Rotate_msg' | translate }}</p> -->

<!-- <div class="text-center mt-5">
  <button class="btn btn-primary mt-5" (click)="shuffle()">{{ 'Cards.shuffle' | translate }}</button>
</div> -->
