<div class="mt-4"></div>
<div #cv class="cv">
  <div class="cv__left">
    <section class="cv__left__section personal">
      <p class="cv__section__title"><i class="fas fa-address-card"></i> {{ 'CV.personal' | translate }}</p>
      <ul>
        <li>{{ 'CV.email' | translate }}</li>
        <li><a href="mailto:albjon.gjuzi@gmail.com" target="_blank">gjuzialbjon@gmail.com</a></li>
        <li>{{ 'CV.tel' | translate }}</li>
        <li><a href="tel:+355699688599">+355 69 968 8599</a></li>
        <li>{{ 'CV.linkedin' | translate }}</li>
        <li><a href="https://www.linkedin.com/in/albjon-gjuzi/" target="_blank">linkedin.com/in/albjon-gjuzi</a></li>
        <li>{{ 'CV.web' | translate }}</li>
        <li><a href="https://github.com/gjuzialbjon" target="_blank">github.com/gjuzialbjon</a></li>
      </ul>
    </section>
    <section class="cv__left__section skills">
      <p class="cv__section__title"><i class="fas fa-laptop-code"></i> {{ 'CV.skills' | translate }}</p>
      <div class="skill" *ngFor="let skill of skills" [title]="skill.name + ': ' + skill.rating + '%'">
        <a class="skill__name" [href]="skill.website" target="_blank">
          {{ skill.name }}
        </a>
        <div class="skill__rating">
          <div class="progress" style="height: 8px">
            <div class="progress-bar" role="progressbar" [style.width]="skill.rating + '%'" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </section>
    <section class="cv__left__section languages">
      <p class="cv__section__title"><i class="fas fa-language"></i> {{ 'CV.languages' | translate }}</p>
      <ul>
        <li>{{ 'CV.Albanian' | translate }}</li>
        <li>{{ 'CV.native' | translate }}</li>
        <li>{{ 'CV.English' | translate }}</li>
        <li>{{ 'CV.highly_proficient' | translate }}</li>
        <li>{{ 'CV.Italian' | translate }}</li>
        <li>{{ 'CV.working_knowledge' | translate }}</li>
        <li>{{ 'CV.Spanish' | translate }}</li>
        <li>{{ 'CV.working_knowledge' | translate }}</li>
        <li>{{ 'CV.Turkish' | translate }}</li>
        <li>{{ 'CV.working_knowledge' | translate }}</li>
      </ul>
    </section>
  </div>
  <div class="cv__right">
    <p class="usr-name">Albjon Gjuzi</p>
    <p class="usr-role"><i class="fab fa-angular mr-2"></i> {{ 'CV.frontend' | translate }}</p>
    <section class="cv__right__section experience">
      <p class="cv__section__title"><i class="fas fa-business-time"></i> {{ 'CV.work_experience' | translate }}</p>
      <div class="work">
        <div class="role-date">
          <div class="role">{{ 'CV.frontend' | translate }}</div>
          <div class="date">{{ 'Months.3' | translate }} 2022 - {{ 'Months.8' | translate }} 2022</div>
        </div>
        <a class="company" href="https://smartworknet.eu/" target="_blank">
          <img src="assets/media/companies/smartwork.jfif" width="30px" alt="" />Smartwork, Tirana
        </a>
        <ul class="duties text-muted">
          <li>{{ 'Work.libraries' | translate }}</li>
          <li>{{ 'Work.questions' | translate }}</li>
          <li>{{ 'Work.expand' | translate }}</li>
        </ul>
      </div>
      <div class="work">
        <div class="role-date">
          <div class="role">{{ 'CV.frontend' | translate }}</div>
          <div class="date">{{ 'Months.2' | translate }} 2021 - {{ 'Months.7' | translate }} 2022</div>
        </div>
        <a class="company" href="https://impaladigital.com/" target="_blank">
          <img src="assets/media/companies/impala.png" width="30px" alt="" />Impala Digital, Tirana
        </a>
        <ul class="duties text-muted">
          <li>{{ 'Work.develop' | translate }}</li>
          <li>{{ 'Work.restructure' | translate }}</li>
          <li>{{ 'Work.filters' | translate }}</li>
        </ul>
      </div>
      <div class="work">
        <div class="role-date">
          <div class="role">{{ 'CV.frontend' | translate }}</div>
          <div class="date">{{ 'Months.1' | translate }} 2020 - {{ 'Months.7' | translate }} 2021</div>
        </div>
        <a class="company" href="https://www.wearefiber.com/en/" target="_blank">
          <img src="assets/media/companies/fiber.png" width="30px" alt="" />We Are Fiber, Tirana
        </a>
        <ul class="duties text-muted">
          <li>{{ 'Work.design' | translate }}</li>
          <li>{{ 'Work.graphql' | translate }}</li>
          <li>{{ 'Work.work' | translate }}</li>
        </ul>
      </div>
    </section>
    <section class="cv__right__section studies">
      <p class="cv__section__title"><i class="fas fa-graduation-cap"></i> {{ 'CV.studies' | translate }}</p>
      <div class="study">
        <div class="dep-date">
          <a class="dep" href="https://w3.cs.bilkent.edu.tr/en/" target="_blank">{{ 'CV.bachelor' | translate }}</a>
          <div class="date">{{ 'Months.8' | translate }} 2015 - {{ 'Months.8' | translate }} 2019</div>
        </div>
        <a class="school" href="https://w3.bilkent.edu.tr/bilkent/" target="_blank">
          <img src="assets/media/companies/bilkent.png" width="25px" alt="" />Bilkent University, Ankara, Turkey
        </a>
      </div>
    </section>
    <section class="cv__right__section studies">
      <p class="cv__section__title"><i class="fas fa-certificate"></i> {{ 'CV.certificates' | translate }}</p>
      <div class="d-flex justify-content-between">
        <a
          class="certificate"
          href="https://support.upwork.com/hc/en-us/articles/360052581373-Upwork-Skill-Certifications"
          target="_blank"
          >{{ 'CV.upwork_cert' | translate }}</a
        >
        <div class="cert-date">{{ 'Months.11' | translate }} 2021</div>
      </div>
    </section>
    <section class="cv__right__section">
      <section class="interests">
        <p class="cv__section__title"><i class="fas fa-info-circle"></i> {{ 'CV.interests' | translate }}</p>
        <ul class="interests-list">
          <li>{{ 'CV.sports' | translate }}</li>
          <li>{{ 'CV.music' | translate }}</li>
          <li>{{ 'CV.memes' | translate }}</li>
        </ul>
      </section>
      <section class="soft">
        <p class="cv__section__title"><i class="fas fa-user"></i> {{ 'CV.soft_skills' | translate }}</p>
        <ul class="soft-skills-list">
          <li>{{ 'CV.communication' | translate }}</li>
          <li>{{ 'CV.patience' | translate }}</li>
          <li>{{ 'CV.critical' | translate }}</li>
          <li>{{ 'CV.teamwork' | translate }}</li>
        </ul>
      </section>
    </section>
  </div>
</div>

<div class="text-center my-3">
  <button class="btn btn-primary download-cv" [disabled]="downloading" (click)="downloadCV()">
    {{ (downloading ? 'CV.downloading' : 'CV.download') | translate }} <i class="fas fa-download"></i>
  </button>
</div>
