<!-- <p class="text-center mt-5 h3">Projects comming up soon...</p> -->
<div class="projects-wrapper">
  <ngb-carousel *ngIf="projects">
    <ng-template ngbSlide *ngFor="let project of projects">
      <div class="carousel-img-wrapper cp" routerLink="../{{ project.f }}">
        <img [src]="project.path" loading="lazy" alt="{{ project.title }}" width="100%" />
      </div>
      <div class="carousel-caption drop-shadow-carousel cp" routerLink="../{{ project.f }}" [id]="project.f">
        <h4>{{ project.title | translate }}</h4>
        <p>{{ project.desc | translate }}</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
