<!-- <p class="text-center mt-5 h3">Projects comming up soon...</p> -->
<div class="projects-wrapper mt-md-5 mt-3">
  <ngb-carousel *ngIf="projects">
    <ng-template ngbSlide *ngFor="let project of projects" >
      <div class="carousel-img-wrapper cp" routerLink="../{{project.f}}">
        <img [src]="project.path" alt="{{ project.title }}" width="100%" />
      </div>
      <div class="carousel-caption drop-shadow-carousel cp" routerLink="../{{project.f}}">
        <h4>{{ project.title }}</h4>
        <p>{{ project.desc }}</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
