/* BOOTSTRAP VARIABLE OVERRIDES */
$body-bg: #ff0000;
$body-color: #f9f7f4;

$blue: #5bb3ff;
$link-hover-color: #5bb3ff;

$text-muted: #abbee0;

$modal-content-bg: #151a30;
$modal-content-color: #ffffff;
$modal-content-border-width: 0;

$close-color: #ffffff;

// Carousel
$carousel-control-color: #007bff;
$carousel-indicator-active-bg: #007bff;
$carousel-caption-color: #00bfff;

// Input
$label-margin-bottom: 0.4rem;

$input-bg: #192038;
$input-border-color: #192038;
$input-border-width: 0;
$input-focus-bg: #2b2f3d;
$input-color: #fff;

$input-placeholder-color: gray;
$input-plaintext-color: green;
