/* BOOTSTRAP VARIABLE OVERRIDES */
$body-bg: #0d1529;
$body-color: #f9f7f4;

$blue: #5bb3ff;
$link-hover-color: #5bb3ff;

$text-muted: #abbee0;

$modal-content-bg: #151a30;
$modal-content-color: #ffffff;
$modal-content-border-width: 0;

$close-color: #ffffff;