/* BOOTSTRAP VARIABLE OVERRIDES */
// scss-docs-start container-max-widths
$container-max-widths: (
  sm: 100%,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
) !default;
// scss-docs-end container-max-widths

$body-bg: #0d1529;
$body-color: #f9f7f4;

$blue: #5bb3ff;
$link-color: #{$body-color};
$link-hover-color: #5bb3ff;
$link-decoration: none;

$text-muted: var(--text_muted);

// Input
$label-margin-bottom: 0.4rem;

$input-bg: var(--input_bg);
$input-border-color: var(--input_bg);
$input-border-width: 0;
$input-focus-bg: var(--input_focus_bg);
$input-color: var(--input_clr);

$input-placeholder-color: var(--input_placeholder_clr);

$modal-content-border-width: 0;
$modal-header-border-width: 0;
$modal-footer-border-width: 0;
$modal-content-border-radius: 8px;
$modal-content-bg: transparent;
