@mixin flex-center($row: true, $wrap: false) {
  display: flex;

  @if $row {
    flex-direction: row;
  } @else {
    flex-direction: column;
  }

  @if $wrap {
    flex-wrap: wrap;
  } @else {
    flex-wrap: nowrap;
  }

  justify-content: center;
  align-items: center;
}

@mixin user-select-none {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
