:root {
  --box__cube__front__clr: #e7ac20;
  --box__cube__left__clr: #d53a33;
  --box__cube__top__clr: #1d9099;

  // --lang__toggler: #3033d6;
  --lang__toggler__clr: rgb(90, 234, 245);
}

// Header
$headerHt: 50px;
