@use 'sass:math';

$headerHt: 50px;

// CV
$cvWrapperMaxWd: 950px;
$cvRatio: math.div(10000, 14142);
$cvLeftWd: 360px;
$cvRightMaxWd: $cvWrapperMaxWd - $cvLeftWd;
$cvLeftPadding: 1rem 2rem;
$cvRightPadding: 2rem 3rem;

// CV - Mobile
$cvLeftMobilePadding: 1rem;
$cvRightMobilePadding: 2rem 1rem;

// Cards related vars
$distance: 0.3rem;
$fontSize: 16px;
$tiltAngle: 5deg;
$moveDown: 6px;
