@use '../vendors/bs' as *;

.hidden-card.thrown {
  position: absolute;
  z-index: 150;
}

.user1 .hidden-card.thrown {
  -webkit-animation: throw-hidden-from-left 1s ease-out 1;
  animation: throw-hidden-from-left 1s ease-out 1;
}

.user2 .hidden-card.thrown {
  -webkit-animation: throw-hidden-from-top .5s ease-out 1;
  animation: throw-hidden-from-top .5s ease-out 1;
}

.user3 .hidden-card.thrown {
  -webkit-animation: throw-hidden-from-right 1s ease-out 1;
  animation: throw-hidden-from-right 1s ease-out 1;
}

@keyframes throw-hidden-from-left {
  0% {
    left: var(--slide-left-from);
  }
  100% {
    left: var(--slide-left-to);
  }
}

@-webkit-keyframes throw-hidden-from-left {
  0% {
    left: var(--slide-left-from);
  }
  100% {
    left: var(--slide-left-to);
  }
}

@keyframes throw-hidden-from-top {
  0% {
    left: 50%;
    top: var(--slide-top-from);
  }
  100% {
    left: 50%;
    top: var(--slide-top-to);
  }
}

@-webkit-keyframes throw-hidden-from-top {
  0% {
    left: 50%;
    top: var(--slide-top-from);
  }
  100% {
    left: 50%;
    top: var(--slide-top-to);
  }
}

@keyframes throw-hidden-from-right {
  0% {
    right: var(--slide-right-from);
  }
  100% {
    right: var(--slide-right-to);
  }
}

@-webkit-keyframes throw-hidden-from-right {
 0% {
    right: var(--slide-right-from);
  }
  100% {
    right: var(--slide-right-to);
  }
}

@include media-breakpoint-up(lg) {
  :root {
    --slide-left-from: 3rem;
    --slide-left-to: 28rem;
    --slide-right-from: 3rem;
    --slide-right-to: 28rem;
    --slide-top-from: 3rem;
    --slide-top-to: 9rem;
  }
}

@include media-breakpoint-down(lg) {
  :root {
    --slide-left-from: 3rem;
    --slide-left-to: 19rem;
    --slide-right-from: 3rem;
    --slide-right-to: 19rem;
    --slide-top-from: 3rem;
    --slide-top-to: 7.5rem;
  }
}

@media (max-width: 540px) {
  :root {
    --slide-left-from: 3rem;
    --slide-left-to: 13rem;
    --slide-right-from: 3rem;
    --slide-right-to: 13rem;
    --slide-top-from: 3rem;
    --slide-top-to: 7.5rem;
  }
}
