@use '../vendors/bs' as *;

.playing-card.throwing {
  position: absolute;
  z-index: 10;

  -webkit-animation: throw 1s ease-out 1;
  animation: throw 1s ease-out 1;
}

@include media-breakpoint-up(lg) {
  :root {
    --slide-up-card-y: -8rem;
    --slide-up-card-start-w: 90px;
    --slide-up-card-end-w: 90px;
    --slide-up-card-start-h: 136px;
    --slide-up-card-end-h: 136px;
  }
}

@include media-breakpoint-down(lg) {
  :root {
    --slide-up-card-y: -4.6rem;
    --slide-up-card-start-w: 60px;
    --slide-up-card-end-w: 50px;
    --slide-up-card-start-h: 90px;
    --slide-up-card-end-h: 75px;
  }
}

@media (max-width: 540px) {
  :root {
    --slide-up-card-y: -6rem;
    --slide-up-card-start-w: 45px;
    --slide-up-card-end-w: 45px;
    --slide-up-card-start-h: 65px;
    --slide-up-card-end-h: 65px;
  }
}

@keyframes throw {
  0% {
    top: 0rem;
    height: var(--slide-up-card-start-h);
    width: var(--slide-up-card-start-w);
  }
  100% {
    background: var(--playing_card_bg);
    top: var(--slide-up-card-y);
    height: var(--slide-up-card-end-h);
    width: var(--slide-up-card-end-w);
  }
}

@-webkit-keyframes throw {
  0% {
    top: 0rem;
    height: var(--slide-up-card-start-h);
    width: var(--slide-up-card-start-w);
  }
  100% {
    background: var(--playing_card_bg);
    top: var(--slide-up-card-y);
    height: var(--slide-up-card-end-h);
    width: var(--slide-up-card-end-w);
  }
}
