// CV
$cvWrapperMaxWd: 950px;
$cvLeftWd: 280px;
$cvRightMaxWd: $cvWrapperMaxWd - $cvLeftWd;
$cvLeftPadding: 2rem 2rem;
$cvRightPadding: 4rem 3rem;

// CV - Mobile
$cvLeftMobilePadding: 1rem;
$cvRightMobilePadding: 2rem 1rem;
